@tailwind base;
@tailwind components;
@tailwind utilities;

.bgContainer {
    @apply py-16;
    background-image: url("../assets/gradient.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.formContainer {
    @apply min-w-[258px] max-w-[400px] mx-auto;
}

@screen md {
    .formContainer {
        @apply min-w-0 max-w-none mx-0;
    }
}

form{
    @apply mt-9 mx-4 md:mt-0 md:mx-0;
}

.sendBtn {
    @apply h-full w-[16px] md:w-[24px]
}

.labelText{
    @apply font-semibold text-sm md:text-base mb-2;
}

input.icon{
    background: url('../assets/Person.png') no-repeat center left;
    padding-left:30px;
}
