:root {
    --greeting-height: calc(100vh - 69px);
    --square-side: 80vw;
    --square-margin-left: calc(65% - 20vw);
    --max-side: calc(130vh - 69px);
    --img-hight: calc(70vh);
    --img-margin-left: calc(50% - 20vw);
}

.greetingContainer {
    height: var(--greeting-height);
    @apply relative overflow-hidden;
}

.square {
    @apply absolute min-w-[439px] min-h-[439px] z-[-2] bottom-0 right-0 bg-no-repeat rounded-[100px];
    transform-origin: center center;
    width: var(--square-side);
    max-width: var(--max-side);
    height: var(--square-side);
    max-height: var(--max-side);
    transform: translate(var(--square-margin-left), 50%) rotate(45deg);
    background-image: url("src/assets/gradient.png");
    background-position: 60% 60%;
    background-size: 180% 180%;
}

.imgContainer {
    @apply absolute bottom-0 right-0 z-[-1] h-[100vh] min-h-[380px] min-w-[260px] max-h-[80vw];
    transform: translate(var(--img-margin-left), calc(25% - 5vw));
}

.square::before {
    @apply block pb-[100%];
    content: "";
}

.sendBtn {
    @apply h-full w-[16px] md:w-[24px]
}

.borderElement p{
    @apply relative pt-[24px] mt-[38px] md:pt-[16px] md:mt-[36px] xl:pt-[24px] xl:mt-[92px];
}

.borderElement::before {
    @apply absolute w-[25px] h-[3px] bg-[#7E3AF2];
    content: '';
}
