:root {
    --greeting-height: calc(100vh - 69px);
    --square-width: calc(90vw - 10vh);
    --square-height: calc(90vw - 10vh);
}

.greetingContainer {
    height: var(--greeting-height);
    overflow: hidden;
}

.square {
    width: var(--square-width);
    height: var(--square-height);
    background-image: url("src/assets/gradient.png");
    border-radius: 10vh;
}

.sendBtn {
    @apply h-full w-[16px] md:w-[24px]
}

.borderElement p{
    @apply relative pt-[24px] mt-[38px] md:pt-[16px] md:mt-[36px] xl:pt-[24px] xl:mt-[92px];
}

.borderElement::before {
    @apply absolute;
    content: '';
    width: 25px;
    height: 3px;
    background-color: #7E3AF2;
}
